extends layout

block header
	p(id="header_title") LANG: JAVA

block page
	div.content_box#title_box
		p#hed SPECIFICATION
		table
			tr
				td#property Language
				td Java
			tr
				td#property Standard
				td JSE 8
			tr
				td#property Paradigm
				td structured, functional, object-oriented, generic, reflective, concurrent
			tr
				td#property Typing
				td static, strong, safe, nominative, manifest
			tr
				td#property Designed by
				td James Gosling
			tr 
				td#property First appeared
				td 1995; 20 years ago
			tr
				td#property Filename extensions
				td .java .class .jar
			tr
				td#property Website
				td 
					a(href="http://www.oracle.com/technetwork/java/index.html") Java Developer

block content
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p USER COMMANDS
		.sub_menu
			p Print
		.sub_menu
			p User Input
		.sub_menu
			p Commenting
		.sub_menu
			p Read from Text File
		.sub_menu
			p Write to File
		.sub_menu
			p Import Package
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p VARIABLES
		.sub_menu
			p Primitive Data Types
		.sub_menu
			p Type Casting
		.sub_menu
			p Variable Declaration
		.sub_menu
			p Constants
		.sub_menu
			p Arrays
		.sub_menu
			p Hash Maps
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p CONTROL FLOW
		.sub_menu
			p If Statement
		.sub_menu
			p Switch Case
		.sub_menu
			p For Loop
		.sub_menu
			p While Loop
		.sub_menu
			p Do-While Loop
		.sub_menu
			p Ternary Operator
		.sub_menu
			p For Each
		.sub_menu
			p Try Catch Block
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p OOP
		.sub_menu
			p Class & Structures
		.sub_menu
			p Access Modifiers
		.sub_menu
			p Constructure
		.sub_menu
			p Instantiation
		.sub_menu
			p Class Variables
		.sub_menu
			p Standard Methods
		.sub_menu
			p Class Methods
		.sub_menu
			p Inheritance
		.sub_menu
			p Interfaces
		.sub_menu
			p Abstraction
		.sub_menu
			p Anonymous Class
		.sub_menu
			p Declaring Exception
		.sub_menu
			p Throwing Exception
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p STRING CLASS
		.sub_menu
			p String Variables
		.sub_menu
			p String Length
		.sub_menu
			p String Compare
		.sub_menu
			p String Trim
		.sub_menu
			p Split String
		.sub_menu
			p Substring
		.sub_menu
			p String Representation