extends layout

block content
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p USER COMMANDS
		.sub_menu
			p Print
		.sub_menu
			p User Input
		.sub_menu
			p Commenting
		.sub_menu
			p Read from Text File
		.sub_menu
			p Write to File
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p VARIABLES
		.sub_menu
			p Local Variable Declaration
		.sub_menu
			p Constants
		.sub_menu
			p Arrays
		.sub_menu
			p Symbols
		.sub_menu
			p Hashes
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p CONTROL FLOW
		.sub_menu
			p If Statement
		.sub_menu
			p Case Statement
		.sub_menu
			p For Loop
		.sub_menu
			p For Each
		.sub_menu
			p While Loop
		.sub_menu
			p Do-While Loop
		.sub_menu
			p Exception Handling
		.sub_menu
			p Ternary Operator
		.sub_menu
			p Throw and Catch
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p FUNCTIONS & BLOCKS
		.sub_menu
			p Functions
		.sub_menu
			p Blocks
		.sub_menu
			p Collect
		.sub_menu
			p Yield
		.sub_menu
			p Proc
		.sub_menu
			p Lambda
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p OOP
		.sub_menu
			p Class Declaration & Structure
		.sub_menu
			p Class and Instance Variables
		.sub_menu
			p Constructor
		.sub_menu
			p Instantiation
		.sub_menu
			p Inheritance
		.sub_menu
			p Modules
		.sub_menu
			p Class Methods
