extends layout

block content
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p USER COMMANDS
		.sub_menu
			p Print
		.sub_menu
			p Commenting
		.sub_menu
			p Import Module
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p VARIABLES
		.sub_menu
			p Variable Declaration
		.sub_menu
			p Constants
		.sub_menu
			p Optionals
		.sub_menu
			p Arrays
		.sub_menu
			p Dictionaries
		.sub_menu
			p Sets
		.sub_menu
			p Enumerations
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p CONTROL FLOW
		.sub_menu
			p If Statement
		.sub_menu
			p Switch Case
		.sub_menu
			p For Loop
		.sub_menu
			p For In
		.sub_menu
			p While Loop
		.sub_menu
			p Do-While Loop
		.sub_menu
			p Ternary Operator
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p FUNCTIONS
		.sub_menu
			p Functions
		.sub_menu
			p Closures
		.sub_menu
			p Map
	.sub_menu_container
		.right_menu_button
			img(src="/img/right_menu_arrow.png")
			p OOP
		.sub_menu
			p Structures
		.sub_menu
			p Class Declaration
		.sub_menu
			p Access Modifiers
		.sub_menu
			p Initializer
		.sub_menu
			p Instantiation
		.sub_menu
			p Type Methods
		.sub_menu
			p Properties
		.sub_menu
			p Getters and Setters
		.sub_menu
			p Inheritance